@import "../../theme/sass-flexbox.scss";

page-login {
  ion-content .scroll-content{
    @include flex-content(column, center, center);
  }
  p{
    position: absolute;
    top: 10vh;
    color: $grayVidChain;
    font-size: 2.2vh;
  }
  .social-button{
    height: 9vh;
    font-size: 2.2vh;
    &.qr-scan{
      background-color: $greenVidChain;
      color:white;
    }
  }
}
