@import "../../theme/sass-flexbox.scss";

page-login {
  ion-content .scroll-content{
    @include flex-content(column, center, center);
  }
  .social-button{
    height: 9vh;
    font-size: 2.2vh;
    &.google{
      background-color: #d34836;
    }
    &.facebook{
      background-color: #3b5998;
    }
    &.qr-scan{
      background-color: #78B800;
      color:white;
    }
  }
}
