
<ion-header color="primary">
    <ion-navbar color="primary">
        <ion-buttons>
            <button ion-button (click)="closeModal()">
                <span ion-text color="primary" showWhen="ios">Cancel</span>
                <ion-icon name="arrow-round-back" showWhen="android,windows"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            <img src="assets/img/ViDChain-negativo-sin-cuadro.png">
        </ion-title>
    </ion-navbar>
    <ion-toolbar color="primary">
        <ion-buttons >
            <button ion-button >
                <ion-icon *ngIf="info.key === 'email'" start name="mail"></ion-icon>
                <ion-icon *ngIf="info.key === 'phone'" start name="call"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            Type verification code
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

    <form [formGroup]="formGroup" (ngSubmit)="validateValue()">
        <ion-item>

            <ion-input placeholder="Type your verification code" type="number" formControlName="code"></ion-input>
        </ion-item>
        <div class="content-time-to-validate">
            <span class="time-validate">({{timeToValidate}} remain)</span>
        </div>
        <div *ngIf="info.key === 'email'" class="info-send" >We have send you an email</div>
        <div *ngIf="info.key === 'email'" class="sub-info-send" >
            Please, check your email inbox <br/>({{info.value}}) to get the code
        </div>
        <div *ngIf="info.key === 'phone'" class="info-send" >We have send you a sms</div>
        <div *ngIf="info.key === 'phone'" class="sub-info-send" >
            Please, check your message inbox <br/>({{info.value}}) to get the code
        </div>

        <div class="alert alert-danger" *ngIf="showInvalidCode">Invalid Code</div>

        <div class="content-button-send">
            <button ion-button  color="secondary" type="submit" [disabled]="!formGroup.valid || timeToValidate === 'expired' ">Validate!</button>
            <div id="resend-button" (click)="refreshTimeToValidator()">Resend code</div>
        </div>

    </form>
</ion-content>