@import "../../theme/constant.scss";
@import "../../theme/sass-flexbox";

page-list {

  .info-attribute{
    font-size: 3vh!important;
  }
  ion-list{
    padding-top: 5vh;
  }
  ion-item-sliding{
      border-left: 4px solid $greenVidChain;
    &.selected {
      border-left: 8px solid $greenVidChain;
      ion-item{
        background-color: #eee;
        .item-inner{
          border-bottom-style: dashed!important;
        }
      }
    }

    ion-item{

      ion-avatar{
        top: 2%;
        position: absolute;
        right: 0%;
        width: 20%;
        text-align: end;
        @include flex-content('row',center,flex-end);
        img{
          margin-right: 10%;
        }
        ion-icon{
          &[name="checkbox-outline"]{
            color: $greenVidChain;
          }
          &[name="time"]{
            color: yellow;
          }
          font-size: 6vh;
        }
      }

      ion-label{
        h2{
          font-size: 2.5vh!important;
        }

        margin: 10px 8px 10px 0!important;
        .type-item{
          margin-top: 2%;
          @include flex-content(row,center,flex-start);
          ion-icon{
            font-size: 3.5vh;
            margin-right: 2vh;
          }
        }
      }
      &.sub-description{

        padding-left: 0;
        border-top:1px dashed #aaaaaa!important;
        h2{
          font-size: 2.2vh;
          @include flex-content(row,center,flex-start);
        }
        .title-desplegated{
          font-weight: bold;
          //margin-right: 4%;
          width: 35%;
        }
      }
    }
  }
}
