<ion-content>
    <ion-list>
        <ion-item-group *ngFor="let groupItems of items  | keys;let i = index">
            <!--<ion-item-divider *ngIf="checkShowDivider(groupItems)"  color="light">{{groupItems | capitalize}}</ion-item-divider>-->

            <ion-item-sliding *ngFor="let item of items[groupItems]; let i2 = index"
                              [ngClass]="{selected : listOpened?.group == i && listOpened?.item == i2}"
                              (click)="openList(i,i2)">
                <!--don't want show photos-->
                <ion-item>
                    <ion-avatar item-end >

                        <ion-icon name="time" *ngIf="!item.validated" (click)="openModalValidate(item,i2)"></ion-icon>
                        <ion-icon name="checkbox-outline" *ngIf="item.validated"  ></ion-icon>
                    </ion-avatar>
                    <h2 class="value-item" >
                        <span *ngIf="item.key !== 'photo'">{{ item.value }}</span>
                    </h2>
                    <p class="type-item">
                        <ion-icon name="mail" *ngIf="item.key ==='email'"></ion-icon>
                        <ion-icon name="phone-portrait" *ngIf="item.key ==='phone'"></ion-icon>
                        <ion-icon name="logo-facebook" *ngIf="item.key !=='phone' && item.key !=='email' && item.source =='FACEBOOK'"></ion-icon>
                        <ion-icon name="logo-google" *ngIf="item.key !=='phone' && item.key !=='email' && item.source =='GOOGLE'"></ion-icon>
                        <ion-icon name="school" *ngIf="item.key ==='education'"></ion-icon>
                        <ion-icon name="contact" *ngIf="item.key ==='profession'"></ion-icon>
                        {{item.key | capitalize}}
                    </p>
                    <ion-item *ngIf="listOpened?.group == i && listOpened?.item == i2" class="sub-description">
                        <h2>
                            <div class="title-desplegated">Type</div>
                            <div class="value-desplegated">{{item.key | capitalize}}</div>
                        </h2>
                        <h2>
                            <div class="title-desplegated">Create Date</div>
                            <div class="value-desplegated">{{formatDate(item.createdAt)}}</div>
                        </h2>
                        <h2>
                            <div class="title-desplegated">Source</div>
                            <div class="value-desplegated">{{item.source | capitalize}}</div>
                        </h2>
                        <h2>
                            <div class="title-desplegated">Status</div>
                            <div class="value-desplegated">{{item.validated?'Validated':'No Validated'}}</div>
                        </h2>
                        <h2 *ngIf="item.urlEthereum" (click)="openInAppBrowser(item.urlEthereum)">
                            <div class="title-desplegated">Ethereum <img src="assets/img/ethereum.png"  /> </div>
                        </h2>
                    </ion-item>
                </ion-item>

                <ion-item-options side="right" >
                    <button color="danger" ion-button expandable (click)="removeItem(groupItems,i2)">
                        <ion-icon name="trash"></ion-icon>
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-item-group>


    </ion-list>
</ion-content>
