<ion-content>
    <ion-list>
        <ion-item-group *ngFor="let groupItems of items | keys;let i = index">
            <ion-item-divider *ngIf="items[groupItems].length > 0" color="light">{{groupItems | capitalize}}</ion-item-divider>
            <ion-item-sliding *ngFor="let item of items[groupItems]; let i2 = index">
                <ion-item>
                    {{ item.value }}
                    <button class="info-attribute" ion-button clear item-end (click)="openModal(item,groupItems,i2)">
                        <ion-icon name="information-circle"></ion-icon>
                    </button>
                </ion-item>
                <ion-item-options side="right" >
                    <button color="danger" ion-button expandable (click)="removeItem(groupItems,i2)">
                        <ion-icon name="trash"></ion-icon>
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-item-group>


    </ion-list>
</ion-content>
