@import "../../theme/sass-flexbox.scss";
change-attributes{
  ion-header{
    ion-title {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 90px 1px;
      width: 100%;
      height: 100%;
      text-align: center;
      z-index: -1;
      .toolbar-title{
        font-size: 2.5vh;
      }
      img {
        height: 27px;
      }
    }
    ion-buttons{
      ion-icon{
        font-size: 4vh;
      }
    }
  }
  .title-header{
    text-align: center;
    font-size: 3vh;
    margin-top: 4%;
    margin-bottom: 4%;
  }
  ion-list{
    ion-list-header{
      border: none!important;
      font-size: 2.7vh!important;
      margin: 0vh!important;
      &.second-header{
        margin-top: 2vh!important;
      }
    }
    img{
      width: 50%;
    }
  }
  .content-button-send{
    padding-left: 6vh;
    padding-right: 6vh;
    margin-top: 7vh;
    @include flex-content(row,center,space-around);
    #resend-button{
      text-decoration: underline;
      color:grey;
    }
  }
}