@import "../../theme/constant";
@import "../../theme/sass-flexbox.scss";

new-attributes{

  ion-header{
    ion-title {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 90px 1px;
      width: 100%;
      height: 100%;
      text-align: center;
      z-index: -1;
      .toolbar-title{
        font-size: 2.5vh;
      }
      img {
        padding-top: 5px;
        height: 50px;
      }
    }
    ion-buttons{
      ion-icon{
        font-size: 4vh;
      }
    }
  }

  ion-content{
    ion-list{
      margin-top: 5vh;
      .content-button-send{
        margin-top: 2vh;
        text-align: center;
        ion-icon{
          margin-left: 4vh;
        }
      }
    }
    .info-new-attribute{
      text-align: center;
      margin-top: 5vh;
      font-size: 3vh;
      color: $grayVidChain;
    }
  }
  .content-phone-values{
    @include flex-content('row',center,flex-start);
    .prefix-phone-value{
      width: 30%;
    }
    #prefix-plus-phone input{
      text-align: center;
    }
    #prefix-value-phone input{
      margin: 0;
      width: 100%;
      text-align: center;
    }
    .phone-value{
      padding: 0;
      margin-left: 4%;
    }
    .item-input.input-has-focus{
      box-shadow:none!important;
    }
    .item-input:last-child{
      border:0;
    }

  }
  //ion-input{
  //  &#prefix-plus-phone,
  //  &#prefix-value-phone{
  //    flex:none;
  //  }
  //  &#prefix-plus-phone{
  //    width: 7%;
  //  }
  //  &#prefix-value-phone{
  //    width: 10%;
  //    margin-right: 2%;
  //  }
  //}
}