@import "../../theme/constant";

page-home {
  overflow: hidden;
  ion-fab[top][edge]{
    top:0
  }
  .fixed-content{
    margin-top: 0 !important;
  }
  .no-header{
    margin-top: 0!important;
    overflow: hidden;
    .content-profile{
      padding-top: 10vh;
      position: absolute;
      width: 100%;
      z-index: 2;
    }
  }
  .content-profile{
    //position: absolute;
    //top: 0;
    height: 30vh;
    background: $greenVidChain;
    .profile-avatar{
      background-color: white;
      background-image: url(../assets/img/empty_profile.png);
      width: 24vh;
      height: 24vh;
      background-size: contain;
      background-position: center;
      border-radius: 50%;
      background-repeat: no-repeat;
      margin: 0 auto;
      border : 5px solid white;
    }
  }
  ion-header{
    background-color:white;
    .button-header{
      color:white;
      background-color: transparent;
      &.add-profile{
        font-size: 3vh;
      }
    }
    .toolbar-background{
      background-color: transparent;
      border-width: 0px !important;
    }
    &::after {
      background-image: none!important;
    }
    ion-title{
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 90px 1px;
      width: 100%;
      height: 100%;
      text-align: center;
      img{
        padding-top: 5px;
        height: 50px;
      }
    }
  }
  ion-fab{
    button[color="secondary"]{
      ion-icon{
        color:white;
      }

    }
    ion-icon{
      color: $grayVidChain;
    }
  }

  ion-tabs{
    .tab-button[aria-selected=true]{
      color: $greenVidChain!important;
      border-bottom: 5px solid $greenVidChain !important;
    }
    .tab-button{
      color: $grayVidChain!important;
      &:first-child{
        border-right: 1px solid rgba(60, 60, 60, 0.2);
      }
    }
  }
}
