<ion-header color="primary">
    <ion-navbar color="primary">
        <ion-buttons >
            <button ion-button (click)="closeModal()">
                <span ion-text color="primary" showWhen="ios">Cancel</span>
                <ion-icon name="arrow-round-back" showWhen="android,windows"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            <img src="assets/img/logo_Vid_CHAIN_horizontal.png">
        </ion-title>
    </ion-navbar>
    <ion-toolbar color="primary">
        <ion-buttons >
            <button ion-button >
                <ion-icon start name="alert"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title> Permission request </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <div class="content-description-requester">
            <img class="image-requester" [src]="attrToSend.requester?.image">
            <div class="description-send">Allow {{attrToSend.requester?.name}} to get following attributes?</div>
        </div>

        <ion-item *ngFor="let attr of attrToSend.userinfo">
            <ion-label>{{attr}}</ion-label>
            <!--si no hay ninguno, warning-->
            <button ion-button clear color="warning" item-end *ngIf="checkEmptyAttr(attr)">
                Any value
            </button>
            <!--mas de uno hay select-->
            <ion-select [(ngModel)]="result[attr]" *ngIf="!checkEmptyAttr(attr) && attributesSaved[attr].length > 1">
                <ion-option *ngFor="let localAttr of attributesSaved[attr]; let i = index" value="{{localAttr?.value}}">{{localAttr?.value}}</ion-option>
            </ion-select>
            <!--si es solo uno , no hay select-->
            <ion-input disabled="true" [(ngModel)]="result[attr]" *ngIf="!checkEmptyAttr(attr) && attributesSaved[attr].length == 1"  value="{{attributesSaved[attr][0]?.value}}"></ion-input>
        </ion-item>

        <div class="content-button-send">
            <button ion-button color="secondary" (click)="sendAttributes()"  type="submit" [disabled]="checkSubmit()">Allow!</button>
            <div id="resend-button" (click)="closeModal()">Not Allow</div>
        </div>
    </ion-list>
</ion-content>

