<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-dni-scanner-nfc"
    version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>DniScanner</name>
    <js-module name="DniScanner" src="www/DniScanner.js">
        <clobbers target="cordova.plugins.DniScanner" />
    </js-module>
    <platform name="android">
        <source-file src="src/android/com/dniscanner/DniScanner.java" target-dir="src/com/dniscanner/" />
        <source-file src="src/android/com/dniscanner/DNIeInformation.java" target-dir="src/com/dniscanner/" />
        <source-file src="src/android/com/dniscanner/ImgStreamWriter.java" target-dir="src/com/dniscanner/" />
        <source-file src="src/android/com/dniscanner/J2kStreamDecoder.java" target-dir="src/com/dniscanner/" />
        <source-file src="src/android/com/dniscanner/MyFileFormatReader.java" target-dir="src/com/dniscanner/" />

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="DniScanner">
                <param name="android-package" value="com.dniscanner.DniScanner" />
            </feature>
        </config-file>
        <!--<config-file parent="/*" target="AndroidManifest.xml"></config-file>-->
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.NFC" />
            <uses-feature android:name="android.hardware.nfc" android:required="true" />
        </config-file>
        <framework src="src/android/dniscanner.gradle" custom="true" type="gradleReference"/>

        <framework src="com.android.support:appcompat-v7:23.3.0" />
        <resource-file src="src/android/tcfnmtdroid.aar" target="libs/tcfnmtdroid.aar"/>
        <source-file src="src/android/libs/gson-2.2.2.jar" target-dir="libs" />
        <source-file src="src/android/libs/jpeg2000.jar" target-dir="libs" />
        <dependency id="cordova-plugin-compat" version="^1.0.0"/>
    </platform>
</plugin>