page-info-attributtes{
  ion-header{
    background-color:white;

    ion-title {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 90px 1px;
      width: 100%;
      height: 100%;
      text-align: center;
      z-index: -1;
      .toolbar-title{
        font-size: 2.5vh;
      }
      img {
        height: 33px;
      }
    }
    ion-buttons{
      ion-icon{
        font-size: 4vh;
      }
    }
  }
  .message-login-done{
    padding: 25px 50px;
    margin-top: 8vh;
    text-align: center;
    font-size: 2.7vh;
  }
  .content-button-send{
    text-align: center;
  }
}